.header {
    padding: 16px 0;
    background-color: $color-white;
    border-bottom: 1px solid $border-color;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

