.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $text-color;
    
    &__primary {
        color: $color-primary;
    }

    &__secondary {
        color: $color-white;
    }
}