$color-white: #ffffff;
$border-color: #ECECEC;
$text-color: #212121;
$color-primary: #2196F3;
$color-secondary: #F5F4FA;
$light-text-color: #757575;

$default-radius: 4px;

$default-transition: 0.3s;
